[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdParty/spdlog"]
	path = thirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdParty/nlohmann_json"]
	path = thirdParty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdParty/stduuid"]
	path = thirdParty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
