[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdParty/json"]
	path = thirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdParty/spdlog"]
	path = thirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
