[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdParty/jsoncpp"]
	path = thirdParty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
